#hacker {
    color: red;
}

.validationError {
    color:red
}

 body, html {
     height: 100%;
     }

.registerForm {
    margin-top: 30px;
}

.login-form {
    margin-top: 35px;
}

.new-here {
    margin-top: 35px;
}

.navbar-nav {
    margin-left: auto;
}
.nav-item {
    margin-left: 10px;

}
