<head th:fragment="headContent">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <title>Hacker Insider</title>
</head>

<nav th:fragment="navigation" class="navbar navbar-light navbar-expand-lg bg-light">
    <span class="navbar-brand">Hacker Insider</span>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}"
                th:if="${#authentication.getName().equals('anonymousUser')}" >
                <a class="nav-link" th:href="@{/}">Login</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                th:if="${#authentication.getName().equals('anonymousUser')}" >
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/userHome' ? 'active' : ''}"
                th:if="${!#authentication.getName().equals('anonymousUser')}" >
                <a class="nav-link" th:href="@{/userHome}">Home</a>
            </li>

            <li class="nav-item" th:classappend="${#request.getServletPath() == '/design' ? 'active' : ''}"
                th:if="${!#authentication.getName().equals('anonymousUser')}" >
                <a class="nav-link" th:href="@{/design}">Create A Post</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/data' ? 'active' : ''}"
                th:if="${!#authentication.getName().equals('anonymousUser')}" >
                <a class="nav-link" th:href="@{/data}">My Posts</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/accountInformation' ? 'active' : ''}"
                th:if="${!#authentication.getName().equals('anonymousUser')}" >
                <a class="nav-link" th:href="@{/accountInformation}">Account</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/logout' ? 'active' : ''}"
                th:if="${!#authentication.getName().equals('anonymousUser')}" >
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>

        </ul>
    </div>
</nav>

<div th:fragment="hackerImageLogo" class="col-md-4">
    <img th:src="@{/images/hacker-man.jpg}" style="height: 250px;"/>
</div>
    <div th:fragment="scripts">
        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    </div>
<footer th:fragment="footerJG">
    <!-- Copyright -->
    <div class="text-center">© 2020 Copyright: Jose Garcia</div>
    <!-- Copyright -->
</footer>

