<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>News</h1>
    <div th:each="ing : ${allPosts}">
        <p><b>Type of Post:</b>
            <span th:text="${ing.posttype}">EXAMPLE</span>
        </p>
        <p><b>By:</b>
        <span th:text="${ing.fullName}">EXAMPLE</span>
        </p>
        <p>
            <b>Description:</b>

        </p>
        <span th:text="${ing.description}">EXAMPLE</span>
    </div>
</body>
</html>