<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headContent"></head>
<body>
    <nav th:replace="fragments/base :: navigation"></nav>

    <div class="container login-form">
        <div class="row justify-content-center ">
            <div class="col-md-4">
                <h4> Hello,
                    <b> <span th:text="${fullName}">NAME</span> </b>
                </h4>
                <br/>
                <img th:src="@{/images/hacker-man.jpg}" style="height: 250px;"/>
            </div>
            <div class="col-8">
                <h1>Your posts</h1>
                <br/>
                <div th:each="ing : ${allPostsForUser}">
                    <h3>
                        <span th:text="${ing.posttype}">Post Type</span>
                    </h3>
                    <p>
                        <span th:text="${ing.description}">Description</span>
                    </p>
                    <a class="btn-primary btn" role="button" th:href="@{/editPost/{postID}(postID=${ing.id})}"/>Edit</a>

                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>