<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hacker Post</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>

    <h1>Posts</h1>
    <h3>Recent Breaches</h3>
    <div th:each="post : ${recentbreaches}">
        <span th:text="${post.description}">EXAMPLE</span>
    </div>
    <h3>Best Security Practices</h3>
    <div th:each="post : ${bestsecuritypractices}">
        <span th:text="${post.description}">EXAMPLE</span>
    </div>
    <h3>Zero Day Vulnerabilities</h3>
    <div th:each="post : ${zero_day}">
        <span th:text="${post.description}">EXAMPLE</span>
    </div>
    <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">Copyright @2020 Jose Garcia CS-321-1</p>
</body>
</html>