<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headContent"></head>
<body>

    <nav th:replace="fragments/base :: navigation"></nav>
    <div class="container login-form">
        <div class="row justify-content-center ">
            <div th:replace="fragments/base :: hackerImageLogo"></div>
            <div class="col-8">
                <h1><b>Create A Post</b></h1>
                <div class="form-group">
                    <form method="post" th:object="${post}">

                        <input type="hidden" th:name="fullName" th:value="${fullName}" id="fullName" class="form-control form-control-lg"/>
                        <input type="hidden" th:name="jobRole" th:value="${jobRole}" id="jobRole" class="form-control form-control-lg"/>


                        <span style="color: #ff0000"
                              th:if="${#fields.hasErrors('fullName')}"
                              th:errors="*{fullName}">Name Error</span>
                        </span>
                        <br/>

                        <label class="col-form-label col-form-label-lg">Title</label>
                        <div>
                            <input type="text" th:name="title" th:value="${title}" id="title" class="form-control form-control-lg"/>
                        </div>
                        <span style="color: #ff0000"
                              th:if="${#fields.hasErrors('title')}"
                              th:errors="*{title}">Title Error</span>
                        </span>
                        <br/>

                        <div class="form-check form-check-inline" th:each="ing : ${allPosts}">
                            <input name="posttype" type="radio" th:value="${ing.id}"/>
                            <span th:text="${ing.name}">EXAMPLE</span>
                        </div>
                        <span style = "color: red"
                              th:if="${#fields.hasErrors('posttype')}"
                              th:errors="*{posttype}">Post Type Error
                        </span>


                        <textarea name="description" rows="15"  class="form-control"></textarea>
                        <span style="color: #ff0000"
                              th:if="${#fields.hasErrors('description')}"
                              th:errors="*{description}">Description Error
                        </span>
                        <br/>

                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <input class="btn btn-primary" type="submit" value="Submit"/>
                                </div>
                                <div class="col-4">
                                    <p><a th:href="@{/data}"> Skip to my posts.</a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>


    </div>


    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>