<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hacker Post</title>
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>

    <h1>Posts</h1>
        <h3>Type Of Post:</h3>
        <form method="post" th:object="${post}">
            <div th:each="ing : ${allPosts}">
                <input name="posttype" type="radio" th:value="${ing.id}"/>
                <span th:text="${ing.name}">EXAMPLE</span>
            </div>
            <span style = "color: red"
                  th:if="${#fields.hasErrors('posttype')}"
                  th:errors="*{posttype}">Post Type Error
            </span>
            <h3>Enter Full Name:</h3>
            <input type="text" th:field="*{fullName}"/>
            <span style="color: #ff0000"
                  th:if="${#fields.hasErrors('fullName')}"
                  th:errors="*{fullName}">Name Error</span>
            </span>
            <br/><br/>
            <h3>Description:</h3>
            <textarea name="description" rows="15" cols="50"></textarea>
            <span style="color: red"
                  th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}">Description Error
            </span>
            <br/><br/>

            <button>Submit</button>
        </form>

    <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">Copyright @2020 Jose Garcia CS-321-1</p>
</body>
</html>