<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/base :: headContent"></head>
<body>
<nav th:replace="fragments/base :: navigation"></nav>

<div class="container login-form">
    <div class="row justify-content-center ">
        <div th:replace="fragments/base :: hackerImageLogo"></div>
        <div class="col-8">
            <h2>Unexpected Error :(. Please try again!</h2>
        </div>
    </div>
</div>
<div th:replace="fragments/base :: footerJG"> </div>
<div th:replace="fragments/base :: scripts"></div>

</body>
</html>