<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/base :: headContent"></head>
<body>
    <nav th:replace="fragments/base :: navigation"></nav>

    <div class="container login-form">
        <div class="row justify-content-center ">
            <div th:replace="fragments/base :: hackerImageLogo"></div>
            <div class="col-8">
                <h1><b>Sign In</b></h1>
                    <div class="form-group">
                        <form method="post" class="registerForm" th:action="@{/}">
                            <label for="username" class=" col-form-label col-form-label-lg" >Username: </label>
                            <div>
                                <input type="text" th:name="username" id="username" class="form-control form-control-lg"/><br/><br/>
                            </div>
                            <label for="password" class="col-form-label col-form-label-lg">Password: </label>
                            <div>
                                <input type="password" th:name="password" id="password" class="form-control-lg form-control"/><br/><br/>
                            </div>

                            <input class="btn btn-primary" type="submit" value="Login"/>
                            <p class="new-here">New Here? Register <a th:href="@{/register}">here.</a></p>
                            <span class="validationError" th:if="${param.error}">Username or password is incorrect</span>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/base :: footerJG"> </div>

    <div th:replace="fragments/base :: scripts"></div>

</body>
</html>